.container-head {
  margin: 0 auto;
}

.container-main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  font-family: Roboto;
  color: #2e3a4edc;
}


.log-out-btn {
  padding: 5px;
  margin-top: 8px;
}


.panel-body {
  display:flex;
  justify-content: space-between;
  font-size: 2em;
}
.product {
  width: 100%;
    height: auto;
    box-shadow: rgb(214, 214, 214) 0px 0px 7px;
    margin: 10px 0px;
    transition: all 0.3s ease 0s;
    margin-bottom: 2%;
}

.products {
  margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-align: right;
}

.content-left {
  width: 80%;
}
.content-left h3 {
  margin: 10px 0px 25px;
}

.content-left div {
  margin: 1.5px 0px;
}